1Password
autostart
BraveSoftware
chromium
dconf
discord
Electron
gh
google-chrome
google-chrome-beta
google-chrome-unstable
gtk-3.0
JetBrains
jgit
microsoft-edge-dev
mimeapps.list
neofetch
pavucontrol.ini
pulse
systemd
vivaldi
vivaldi-snapshot
Slack
YouTube\ Music\ Desktop\ App
audacity
dlv
dolphinrc
filetypesrc
gedit
github-copilot
go
kde.org
kiorc
nwg-look
obsidian
rncbc.org
session
trashrc
user-dirs.dirs
user-dirs.locale
xsettingsd

